
// base Tieto colors
////////////////////
// Colors from this style guide: https://company-81847.frontify.com/d/VHfNy7brWRvI/tieto-style-guide#/introduction/overview
// If you need any other color, please use this guide!
////////////////////
// If you need transparent colors use rgba colors: rgba($doveGray, .3) or use sass opacify: opacify($doveGray, .3), or any other sass color method!
////////////////////

$white: #ffffff;
$dark: #333333;

$pictonBlue: #62B3E5;
$bahamaBlue: #0065A0;

$buttonBgr: #F8F8F8;

$tsg_iron-gray: #eeeff0;
$tsg-dove-gray: #5E5E5E;
