// Only for style guide generation

@import 'colors';

.color-white {
  background-color: $white;
}
.color-black {
  background-color: $black;
}
.color-picton-blue {
  background-color: $tsg-picton-blue;
}
.color-curious-blue {
  background-color: $tsg-curious-blue;
}
.color-deep-blush {
  background-color: $tsg-deep-blush;
}
.color-apple {
  background-color: $tsg-apple;
}
.color-cornflower {
  background-color: $tsg-cornflower;
}
.color-cornfolwer-1 {
  background-color: $tsg-cornfolwer-1;
}
.color-bahama-blue {
  background-color: $tsg-bahama-blue;
}
.color-azalea {
  background-color: $tsg-azalea;
}
.color-razzmatazz {
  background-color: $tsg-razzmatazz;
}
.color-yellow-green {
  background-color: $tsg-yellow-green;
}
.color-fun-green {
  background-color: $tsg-fun-green;
}
.color-macaroni-and-cheese {
  background-color: $tsg-macaroni-and-cheese;
}
.color-tenn {
  background-color: $tsg-tenn;
}
.color-alabaster {
  background-color: $tsg-alabaster;
}
.color-iron {
  background-color: $tsg-iron;
}
.color-mercury {
  background-color: $tsg-mercury;
}
.color-alto {
  background-color: $tsg-alto;
}
.color-silver {
  background-color: $tsg-silver;
}
.color-silver-chalice {
  background-color: $tsg-silver-chalice;
}
.color-boulder {
  background-color: $tsg-boulder;
}
.color-dove-grey {
  background-color: $tsg-dove-grey;
}
.color-mine-shaft {
  background-color: $tsg-mine-shaft;
}