@import url("//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700");

.arialNormal {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arialItalic {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arialBold {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.openSansLight {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.openSansLightItalic {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.openSansNormal {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.openSansMiddle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.openSansBold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}