// ******************************************************************************************************************************
// List of default Foundation components, use this list to:
//  - figure out the proper order of @including Foundation components
//  - figure out what already exists in Foundation framework and what can we take as a base for future Tieto custom components
// ******************************************************************************************************************************
// @include foundation-global-styles;
// @include foundation-forms;
// @include foundation-typography;
//
// // Grids
// @if not $flex {
//   @include foundation-grid;
// }
// @else {
//   @if $xy-grid {
//     @include foundation-xy-grid-classes;
//   }
//   @else {
//     @include foundation-flex-grid;
//   }
// }
//
// @include foundation-button;
// @include foundation-button-group;
// @include foundation-close-button;
// @include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-dropdown;
// @include foundation-pagination;
// @include foundation-tooltip;
// @include foundation-accordion;
// @include foundation-media-object;
// @include foundation-orbit;
// @include foundation-responsive-embed;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-accordion-menu;
// @include foundation-drilldown-menu;
// @include foundation-dropdown-menu;
// @include foundation-off-canvas;
// @include foundation-reveal;
// @include foundation-sticky;
// @include foundation-title-bar;
// @include foundation-top-bar;
//
// // Helpers
// @include foundation-float-classes;
// @if $flex { @include foundation-flex-classes; }
// @include foundation-visibility-classes;
// @if $prototype { @include foundation-prototype-classes; }


// ***************************************************************************************************************************
// Import Foundation !default variables and mixins.
// ***************************************************************************************************************************
@import '../node_modules/foundation-sites/scss/foundation';


// ***************************************************************************************************************************
// Import default Foundation settings with variables
// ***************************************************************************************************************************
@import 'vendor/foundation-sites/settings';


// ***************************************************************************************************************************
// Import base needed for each component, this includes colours, variables, etc.
// ***************************************************************************************************************************
@import 'base/index';


// ***************************************************************************************************************************
// Import custom Tieto Styleguide components
// ***************************************************************************************************************************
@import 'components/index';


// ***************************************************************************************************************************
// A mixin, that contains everything from this library
// ***************************************************************************************************************************
@mixin tsg-everything(
  $flex: true,
  $prototype: false
) {
  @if $flex {
    $global-flexbox: true !global;
  }

  // Include individual Tieto custom components (order matters, see list of components above)
  @include foundation-global-styles;
  @include foundation-typography;
  @include tsg-button;
  @include tsg-card;
}