a.pseudo-class-hover,
a.pseudo-class-focus {
  color: #1468a0;
}

.button.pseudo-class-hover,
.button.pseudo-class-focus {
  background-color: #14679e;
  color: #fff;
}

.button.primary.pseudo-class-hover,
.button.primary.pseudo-class-focus {
  background-color: #297aa3;
  color: #fff;
}

.button.secondary.pseudo-class-hover,
.button.secondary.pseudo-class-focus {
  background-color: #b7b7b7;
  color: #333;
}

.button.success.pseudo-class-hover,
.button.success.pseudo-class-focus {
  background-color: #20862a;
  color: #fff;
}

.button.warning.pseudo-class-hover,
.button.warning.pseudo-class-focus {
  background-color: #e16f09;
  color: #fff;
}

.button.alert.pseudo-class-hover,
.button.alert.pseudo-class-focus {
  background-color: #be215b;
  color: #fff;
}

.button.hollowx.pseudo-class-hover,
.button.hollowx.pseudo-class-focus {
  background-color: #a8a8a8;
  color: #333;
}

.button.ghost.pseudo-class-hover,
.button.ghost.pseudo-class-focus {
  background-color: #a8a8a8;
  color: #333;
}

.button.outline.pseudo-class-hover,
.button.outline.pseudo-class-focus {
  background-color: #cccccc;
  color: #333;
}

.button.disabled.pseudo-class-hover,
.button.disabled.pseudo-class-focus,
.button[disabled].pseudo-class-hover,
.button[disabled].pseudo-class-focus {
  background-color: #3399CC;
  color: #fff;
}

.button.disabled.primary.pseudo-class-hover,
.button.disabled.primary.pseudo-class-focus,
.button[disabled].primary.pseudo-class-hover,
.button[disabled].primary.pseudo-class-focus {
  background-color: #3399CC;
  color: #fff;
}

.button.disabled.secondary.pseudo-class-hover,
.button.disabled.secondary.pseudo-class-focus,
.button[disabled].secondary.pseudo-class-hover,
.button[disabled].secondary.pseudo-class-focus {
  background-color: #e5e5e5;
  color: #333;
}

.button.disabled.success.pseudo-class-hover,
.button.disabled.success.pseudo-class-focus,
.button[disabled].success.pseudo-class-hover,
.button[disabled].success.pseudo-class-focus {
  background-color: #28A834;
  color: #fff;
}

.button.disabled.warning.pseudo-class-hover,
.button.disabled.warning.pseudo-class-focus,
.button[disabled].warning.pseudo-class-hover,
.button[disabled].warning.pseudo-class-focus {
  background-color: #F78D2D;
  color: #fff;
}

.button.disabled.alert.pseudo-class-hover,
.button.disabled.alert.pseudo-class-focus,
.button[disabled].alert.pseudo-class-hover,
.button[disabled].alert.pseudo-class-focus {
  background-color: #DD3A76;
  color: #fff;
}

.button.disabled.hollowx.pseudo-class-hover,
.button.disabled.hollowx.pseudo-class-focus,
.button[disabled].hollowx.pseudo-class-hover,
.button[disabled].hollowx.pseudo-class-focus {
  background-color: #D2D2D2;
  color: #333;
}

.button.disabled.ghost.pseudo-class-hover,
.button.disabled.ghost.pseudo-class-focus,
.button[disabled].ghost.pseudo-class-hover,
.button[disabled].ghost.pseudo-class-focus {
  background-color: #D2D2D2;
  color: #333;
}

.button.disabled.outline.pseudo-class-hover,
.button.disabled.outline.pseudo-class-focus,
.button[disabled].outline.pseudo-class-hover,
.button[disabled].outline.pseudo-class-focus {
  background-color: #FFFFFF;
  color: #333;
}

.button.hollow.pseudo-class-hover,
.button.hollow.pseudo-class-focus {
  background-color: transparent;
}

.button.hollow.disabled.pseudo-class-hover,
.button.hollow.disabled.pseudo-class-focus,
.button.hollow[disabled].pseudo-class-hover,
.button.hollow[disabled].pseudo-class-focus {
  background-color: transparent;
}

.button.hollow.pseudo-class-hover,
.button.hollow.pseudo-class-focus {
  border-color: #1a4d66;
  color: #1a4d66;
}

.button.hollow.pseudo-class-hover.disabled,
.button.hollow.pseudo-class-hover[disabled],
.button.hollow.pseudo-class-focus.disabled,
.button.hollow.pseudo-class-focus[disabled] {
  border: 1px solid #3399CC;
  color: #3399CC;
}

.button.hollow.primary.pseudo-class-hover,
.button.hollow.primary.pseudo-class-focus {
  border-color: #1a4d66;
  color: #1a4d66;
}

.button.hollow.primary.pseudo-class-hover.disabled,
.button.hollow.primary.pseudo-class-hover[disabled],
.button.hollow.primary.pseudo-class-focus.disabled,
.button.hollow.primary.pseudo-class-focus[disabled] {
  border: 1px solid #3399CC;
  color: #3399CC;
}

.button.hollow.secondary.pseudo-class-hover,
.button.hollow.secondary.pseudo-class-focus {
  border-color: #737373;
  color: #737373;
}

.button.hollow.secondary.pseudo-class-hover.disabled,
.button.hollow.secondary.pseudo-class-hover[disabled],
.button.hollow.secondary.pseudo-class-focus.disabled,
.button.hollow.secondary.pseudo-class-focus[disabled] {
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
}

.button.hollow.success.pseudo-class-hover,
.button.hollow.success.pseudo-class-focus {
  border-color: #14541a;
  color: #14541a;
}

.button.hollow.success.pseudo-class-hover.disabled,
.button.hollow.success.pseudo-class-hover[disabled],
.button.hollow.success.pseudo-class-focus.disabled,
.button.hollow.success.pseudo-class-focus[disabled] {
  border: 1px solid #28A834;
  color: #28A834;
}

.button.hollow.warning.pseudo-class-hover,
.button.hollow.warning.pseudo-class-focus {
  border-color: #8d4605;
  color: #8d4605;
}

.button.hollow.warning.pseudo-class-hover.disabled,
.button.hollow.warning.pseudo-class-hover[disabled],
.button.hollow.warning.pseudo-class-focus.disabled,
.button.hollow.warning.pseudo-class-focus[disabled] {
  border: 1px solid #F78D2D;
  color: #F78D2D;
}

.button.hollow.alert.pseudo-class-hover,
.button.hollow.alert.pseudo-class-focus {
  border-color: #771539;
  color: #771539;
}

.button.hollow.alert.pseudo-class-hover.disabled,
.button.hollow.alert.pseudo-class-hover[disabled],
.button.hollow.alert.pseudo-class-focus.disabled,
.button.hollow.alert.pseudo-class-focus[disabled] {
  border: 1px solid #DD3A76;
  color: #DD3A76;
}

.button.hollow.hollowx.pseudo-class-hover,
.button.hollow.hollowx.pseudo-class-focus {
  border-color: dimgray;
  color: dimgray;
}

.button.hollow.hollowx.pseudo-class-hover.disabled,
.button.hollow.hollowx.pseudo-class-hover[disabled],
.button.hollow.hollowx.pseudo-class-focus.disabled,
.button.hollow.hollowx.pseudo-class-focus[disabled] {
  border: 1px solid #D2D2D2;
  color: #D2D2D2;
}

.button.hollow.ghost.pseudo-class-hover,
.button.hollow.ghost.pseudo-class-focus {
  border-color: dimgray;
  color: dimgray;
}

.button.hollow.ghost.pseudo-class-hover.disabled,
.button.hollow.ghost.pseudo-class-hover[disabled],
.button.hollow.ghost.pseudo-class-focus.disabled,
.button.hollow.ghost.pseudo-class-focus[disabled] {
  border: 1px solid #D2D2D2;
  color: #D2D2D2;
}

.button.hollow.outline.pseudo-class-hover,
.button.hollow.outline.pseudo-class-focus {
  border-color: gray;
  color: gray;
}

.button.hollow.outline.pseudo-class-hover.disabled,
.button.hollow.outline.pseudo-class-hover[disabled],
.button.hollow.outline.pseudo-class-focus.disabled,
.button.hollow.outline.pseudo-class-focus[disabled] {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.button.clear.pseudo-class-hover,
.button.clear.pseudo-class-focus {
  background-color: transparent;
}

.button.clear.disabled.pseudo-class-hover,
.button.clear.disabled.pseudo-class-focus,
.button.clear[disabled].pseudo-class-hover,
.button.clear[disabled].pseudo-class-focus {
  background-color: transparent;
}

.button.clear.pseudo-class-hover,
.button.clear.pseudo-class-focus {
  border-color: #1a4d66;
  color: #1a4d66;
}

.button.clear.pseudo-class-hover.disabled,
.button.clear.pseudo-class-hover[disabled],
.button.clear.pseudo-class-focus.disabled,
.button.clear.pseudo-class-focus[disabled] {
  border: 1px solid #3399CC;
  color: #3399CC;
}

.button.clear.pseudo-class-hover,
.button.clear.pseudo-class-hover.disabled,
.button.clear.pseudo-class-hover[disabled],
.button.clear.pseudo-class-focus,
.button.clear.pseudo-class-focus.disabled,
.button.clear.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.primary.pseudo-class-hover,
.button.clear.primary.pseudo-class-focus {
  border-color: #1a4d66;
  color: #1a4d66;
}

.button.clear.primary.pseudo-class-hover.disabled,
.button.clear.primary.pseudo-class-hover[disabled],
.button.clear.primary.pseudo-class-focus.disabled,
.button.clear.primary.pseudo-class-focus[disabled] {
  border: 1px solid #3399CC;
  color: #3399CC;
}

.button.clear.primary.pseudo-class-hover,
.button.clear.primary.pseudo-class-hover.disabled,
.button.clear.primary.pseudo-class-hover[disabled],
.button.clear.primary.pseudo-class-focus,
.button.clear.primary.pseudo-class-focus.disabled,
.button.clear.primary.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.secondary.pseudo-class-hover,
.button.clear.secondary.pseudo-class-focus {
  border-color: #737373;
  color: #737373;
}

.button.clear.secondary.pseudo-class-hover.disabled,
.button.clear.secondary.pseudo-class-hover[disabled],
.button.clear.secondary.pseudo-class-focus.disabled,
.button.clear.secondary.pseudo-class-focus[disabled] {
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
}

.button.clear.secondary.pseudo-class-hover,
.button.clear.secondary.pseudo-class-hover.disabled,
.button.clear.secondary.pseudo-class-hover[disabled],
.button.clear.secondary.pseudo-class-focus,
.button.clear.secondary.pseudo-class-focus.disabled,
.button.clear.secondary.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.success.pseudo-class-hover,
.button.clear.success.pseudo-class-focus {
  border-color: #14541a;
  color: #14541a;
}

.button.clear.success.pseudo-class-hover.disabled,
.button.clear.success.pseudo-class-hover[disabled],
.button.clear.success.pseudo-class-focus.disabled,
.button.clear.success.pseudo-class-focus[disabled] {
  border: 1px solid #28A834;
  color: #28A834;
}

.button.clear.success.pseudo-class-hover,
.button.clear.success.pseudo-class-hover.disabled,
.button.clear.success.pseudo-class-hover[disabled],
.button.clear.success.pseudo-class-focus,
.button.clear.success.pseudo-class-focus.disabled,
.button.clear.success.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.warning.pseudo-class-hover,
.button.clear.warning.pseudo-class-focus {
  border-color: #8d4605;
  color: #8d4605;
}

.button.clear.warning.pseudo-class-hover.disabled,
.button.clear.warning.pseudo-class-hover[disabled],
.button.clear.warning.pseudo-class-focus.disabled,
.button.clear.warning.pseudo-class-focus[disabled] {
  border: 1px solid #F78D2D;
  color: #F78D2D;
}

.button.clear.warning.pseudo-class-hover,
.button.clear.warning.pseudo-class-hover.disabled,
.button.clear.warning.pseudo-class-hover[disabled],
.button.clear.warning.pseudo-class-focus,
.button.clear.warning.pseudo-class-focus.disabled,
.button.clear.warning.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.alert.pseudo-class-hover,
.button.clear.alert.pseudo-class-focus {
  border-color: #771539;
  color: #771539;
}

.button.clear.alert.pseudo-class-hover.disabled,
.button.clear.alert.pseudo-class-hover[disabled],
.button.clear.alert.pseudo-class-focus.disabled,
.button.clear.alert.pseudo-class-focus[disabled] {
  border: 1px solid #DD3A76;
  color: #DD3A76;
}

.button.clear.alert.pseudo-class-hover,
.button.clear.alert.pseudo-class-hover.disabled,
.button.clear.alert.pseudo-class-hover[disabled],
.button.clear.alert.pseudo-class-focus,
.button.clear.alert.pseudo-class-focus.disabled,
.button.clear.alert.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.hollowx.pseudo-class-hover,
.button.clear.hollowx.pseudo-class-focus {
  border-color: dimgray;
  color: dimgray;
}

.button.clear.hollowx.pseudo-class-hover.disabled,
.button.clear.hollowx.pseudo-class-hover[disabled],
.button.clear.hollowx.pseudo-class-focus.disabled,
.button.clear.hollowx.pseudo-class-focus[disabled] {
  border: 1px solid #D2D2D2;
  color: #D2D2D2;
}

.button.clear.hollowx.pseudo-class-hover,
.button.clear.hollowx.pseudo-class-hover.disabled,
.button.clear.hollowx.pseudo-class-hover[disabled],
.button.clear.hollowx.pseudo-class-focus,
.button.clear.hollowx.pseudo-class-focus.disabled,
.button.clear.hollowx.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.ghost.pseudo-class-hover,
.button.clear.ghost.pseudo-class-focus {
  border-color: dimgray;
  color: dimgray;
}

.button.clear.ghost.pseudo-class-hover.disabled,
.button.clear.ghost.pseudo-class-hover[disabled],
.button.clear.ghost.pseudo-class-focus.disabled,
.button.clear.ghost.pseudo-class-focus[disabled] {
  border: 1px solid #D2D2D2;
  color: #D2D2D2;
}

.button.clear.ghost.pseudo-class-hover,
.button.clear.ghost.pseudo-class-hover.disabled,
.button.clear.ghost.pseudo-class-hover[disabled],
.button.clear.ghost.pseudo-class-focus,
.button.clear.ghost.pseudo-class-focus.disabled,
.button.clear.ghost.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.outline.pseudo-class-hover,
.button.clear.outline.pseudo-class-focus {
  border-color: gray;
  color: gray;
}

.button.clear.outline.pseudo-class-hover.disabled,
.button.clear.outline.pseudo-class-hover[disabled],
.button.clear.outline.pseudo-class-focus.disabled,
.button.clear.outline.pseudo-class-focus[disabled] {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.button.clear.outline.pseudo-class-hover,
.button.clear.outline.pseudo-class-hover.disabled,
.button.clear.outline.pseudo-class-hover[disabled],
.button.clear.outline.pseudo-class-focus,
.button.clear.outline.pseudo-class-focus.disabled,
.button.clear.outline.pseudo-class-focus[disabled] {
  border-color: transparent;
}

a.button.pseudo-class-hover,
a.button.pseudo-class-focus {
  text-decoration: none;
}

.button.primary:not(.hollow).pseudo-class-hover,
.button.primary:not(.hollow).pseudo-class-focus,
.button.primary:not(.hollow).pseudo-class-active {
  background-color: #286090;
}

.button.primary:not(.hollow).pseudo-class-hover.ghost,
.button.primary:not(.hollow).pseudo-class-hover.outline,
.button.primary:not(.hollow).pseudo-class-focus.ghost,
.button.primary:not(.hollow).pseudo-class-focus.outline,
.button.primary:not(.hollow).pseudo-class-active.ghost,
.button.primary:not(.hollow).pseudo-class-active.outline {
  color: #fff;
}

.button.secondary:not(.hollow).pseudo-class-hover,
.button.secondary:not(.hollow).pseudo-class-focus,
.button.secondary:not(.hollow).pseudo-class-active {
  background-color: #F1F1F1;
}

.button.secondary:not(.hollow).pseudo-class-hover.ghost,
.button.secondary:not(.hollow).pseudo-class-hover.outline,
.button.secondary:not(.hollow).pseudo-class-focus.ghost,
.button.secondary:not(.hollow).pseudo-class-focus.outline,
.button.secondary:not(.hollow).pseudo-class-active.ghost,
.button.secondary:not(.hollow).pseudo-class-active.outline {
  color: #fff;
}

.button.success:not(.hollow).pseudo-class-hover,
.button.success:not(.hollow).pseudo-class-focus,
.button.success:not(.hollow).pseudo-class-active {
  background-color: #00833E;
}

.button.success:not(.hollow).pseudo-class-hover.ghost,
.button.success:not(.hollow).pseudo-class-hover.outline,
.button.success:not(.hollow).pseudo-class-focus.ghost,
.button.success:not(.hollow).pseudo-class-focus.outline,
.button.success:not(.hollow).pseudo-class-active.ghost,
.button.success:not(.hollow).pseudo-class-active.outline {
  color: #fff;
}

.button.warning:not(.hollow).pseudo-class-hover,
.button.warning:not(.hollow).pseudo-class-focus,
.button.warning:not(.hollow).pseudo-class-active {
  background-color: #D75F00;
}

.button.warning:not(.hollow).pseudo-class-hover.ghost,
.button.warning:not(.hollow).pseudo-class-hover.outline,
.button.warning:not(.hollow).pseudo-class-focus.ghost,
.button.warning:not(.hollow).pseudo-class-focus.outline,
.button.warning:not(.hollow).pseudo-class-active.ghost,
.button.warning:not(.hollow).pseudo-class-active.outline {
  color: #fff;
}

.button.alert:not(.hollow).pseudo-class-hover,
.button.alert:not(.hollow).pseudo-class-focus,
.button.alert:not(.hollow).pseudo-class-active {
  background-color: #D51067;
}

.button.alert:not(.hollow).pseudo-class-hover.ghost,
.button.alert:not(.hollow).pseudo-class-hover.outline,
.button.alert:not(.hollow).pseudo-class-focus.ghost,
.button.alert:not(.hollow).pseudo-class-focus.outline,
.button.alert:not(.hollow).pseudo-class-active.ghost,
.button.alert:not(.hollow).pseudo-class-active.outline {
  color: #fff;
}

.button.hollow:not(.hollow).pseudo-class-hover,
.button.hollow:not(.hollow).pseudo-class-focus,
.button.hollow:not(.hollow).pseudo-class-active {
  background-color: #3399CC;
}

.button.hollow:not(.hollow).pseudo-class-hover.ghost,
.button.hollow:not(.hollow).pseudo-class-hover.outline,
.button.hollow:not(.hollow).pseudo-class-focus.ghost,
.button.hollow:not(.hollow).pseudo-class-focus.outline,
.button.hollow:not(.hollow).pseudo-class-active.ghost,
.button.hollow:not(.hollow).pseudo-class-active.outline {
  color: #fff;
}

.button.ghost:not(.hollow).pseudo-class-hover,
.button.ghost:not(.hollow).pseudo-class-focus,
.button.ghost:not(.hollow).pseudo-class-active {
  background-color: #3399CC;
}

.button.ghost:not(.hollow).pseudo-class-hover.ghost,
.button.ghost:not(.hollow).pseudo-class-hover.outline,
.button.ghost:not(.hollow).pseudo-class-focus.ghost,
.button.ghost:not(.hollow).pseudo-class-focus.outline,
.button.ghost:not(.hollow).pseudo-class-active.ghost,
.button.ghost:not(.hollow).pseudo-class-active.outline {
  color: #fff;
}

.button.outline:not(.hollow).pseudo-class-hover,
.button.outline:not(.hollow).pseudo-class-focus,
.button.outline:not(.hollow).pseudo-class-active {
  background-color: #3399CC;
}

.button.outline:not(.hollow).pseudo-class-hover.ghost,
.button.outline:not(.hollow).pseudo-class-hover.outline,
.button.outline:not(.hollow).pseudo-class-focus.ghost,
.button.outline:not(.hollow).pseudo-class-focus.outline,
.button.outline:not(.hollow).pseudo-class-active.ghost,
.button.outline:not(.hollow).pseudo-class-active.outline {
  color: #fff;
}

.button.ghost.pseudo-class-hover {
  border-color: transparent;
}

.button.outline.pseudo-class-hover {
  border-color: transparent;
}

.card > .pseudo-class-last-child {
  margin-bottom: 0;
}

.card-divider > .pseudo-class-last-child {
  margin-bottom: 0;
}

.card-section > .pseudo-class-last-child {
  margin-bottom: 0;
}